<h1>Hello Angular routing</h1>
<nav>
  <a
    routerLinkActive="activebutton"
    class="button"
    routerLink=""
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a routerLinkActive="activebutton" class="button" routerLink="/login">Login</a>
  <a routerLinkActive="activebutton" class="button" routerLink="/todos">Todos</a>
  <a routerLinkActive="activebutton" class="button" routerLink="/users">Users</a>
  <a routerLinkActive="activebutton" class="button" routerLink="/profile">Profile</a>
</nav>
<router-outlet></router-outlet>
